* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
    letter-spacing: 1px;
}

.books{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .2);
    overflow: hidden;
    border: 1px solid lightgray;
    &__header,
    &__footer {
        background: #eee;
        padding: 10px 0;
        text-align: center;
    }
    &__header p {
        margin: 10px 0;
    }
    &__title {
        margin: 10px 0;
        font-weight: normal;
    }
    &__search input {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        display: block;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        color: #444;
    }
    &List {
        margin: 30px;
        &__title {
            font-weight: normal;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            padding: 20px;
            border-left: 5px solid #ddd;
            margin: 20px 10px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &:hover {
                border-color: #9361bf
            }
            &.completed {
                background: #eee;
                .booksList__name {
                    text-decoration: line-through;
                    font-style: italic;
                    color: #9361bf;
                }
            }
        }
        &__delete {
            background: #9361bf;
            padding: 6px;
            border-radius: 4px;
            cursor: pointer;
            color: white;
            &:hover {
                background-color: #333;
            }
        }
    }
    &Add {
        width: 400px;
        margin: 20px auto;
        display: flex;
        input {
            font-size: 16px;
            display: block;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px 0 0 4px;
            width: 300px;
            border-right: 0;
            outline: none;
        }
        button {
            border: 1px solid #9361bf;
            background: #9361bf;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            width: 100px;
            border-left: 0;
            color: white;
        }
    }

}