/* Reset CSS */
* {
    box-sizing: border-box;
}
html {scroll-behavior:smooth;}
h1{margin:16px }
h2[id]{scroll-margin-top:170px;}
h3[id]{scroll-margin-top:170px;}
body{
    padding:0;
    margin:0;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
}

/* Framework */
.container{
    max-width: 1200px;
    margin:0 auto;
}
.active{
    font-weight: 700;
    color: red;
}
.bgDanger {
    background-color: #dc3545;
}

.bgWarning {
    background-color: #ffc107;
}

.bgSuccess {
    background-color: #198754;
}

/* Layout */
.listMenu{
    margin: 20px;
}
header, footer{
    background-color: #fff;
    padding:15px 0;
    text-align: center;
}
header{
    position: fixed;
    z-index: 10;
    width: 100%;
    top:0;
}

main{
    border-bottom: 0;
    display: flex;
    margin-top: 115px;
}

.main__item{
    background-color:#eee;
    padding:10px 20px;
    margin:10px;
}

.main__item--content{
    flex:1;
    width: 80%;
}

.main__item--sidebar{
    width:310px;
}
.sidebar{
    position: relative;
    height: 99%;
}
.sidebar a{
    color:#333;
}
.sidebar a:hover{
    color:#dc3545
}
.sidebar__banner{
    position: sticky;
    top:190px;
}
.sidebar__banner img{
    width:100%
}

/* Nav */
.navMain span{
    display: none;
}
.navMain ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.navMain li{
    display: inline;
    padding: 5px;
}
.navMain a{
    text-decoration: none;
    padding: 5px;
    color:black;
    border-radius: 4px;
}
.navMain a:hover{
    background-color: #dc3545;
    color:white;
}

/* row */
.row{
    display: flex;
    align-items: flex-end;
}
.col-3{
    width: calc(100%/3);
}
.col-2{
    width: calc(100%/2);
}
.col{
    width:100%;
}

/* box */
.box{
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    text-align: center;
    height:160px;
    align-items: flex-start;
}
.box__item{
    padding: 10px;
}
.box--mobile{
    flex-direction: column;
}

/* Media Queriess */
@media screen and (max-width: 600px) {
    .box--reponsive{
        flex-direction: column;
    }
    .box__item--responsive{
        width:100%
    }
    
}

@media screen and (max-width:1024px){
    /* Responsive Layout */
    main{
        flex-direction: column;
        margin-top:50px;
    }
    .main__item--content{
        width:100%;
    }
    .main__item--sidebar{
        width:100%;
    }
    .main__item{
        margin:0;
    }

    /* Responsive Header */
    header{
        padding-bottom:0;
    }
    .navMain li{
        display: block;
        padding:0;
    }
    .navMain ul{
        display: none;
        text-align: left;
        border-top: 1px solid #ccc;
    }
    .navMain:hover ul{
        display: none;
        /* display: block; */
    }
    .navMain:hover ul.navActive{
        display: block;
    }
    .navMain span{
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
    }
    .navMain a{
        display: block;
        border-radius: 0;
        padding: 8px 20px;
    }
    
    /* Responsive font */
    h1{
        font-size:18px;
        text-align: left;
        margin: 0px 20px 15px;
    }
    h2,h3{
        font-size:16px;
    }
    h4{
        font-size:14px;
    }
}